{% extends 'base.html' %}

{% block content %}
    <form class="form-inline mt2 mt-md-0" action="{% url 'article_search' %}" method="get">
        <input type="text" placeholder="Search" name="q" >
    </form>
    <div class="jumbotron">
        <h1 class="display-4">Newpaper app</h1>
        <p class="lead">A Newspaper website built with Django</p>
        <p class="lead"><a href="{% url 'article_list' %}" role="button" class="btn btn-primary btn-lg">View All Articles</a></p>
    </div>
{% endblock content %}